.visualContainer {
    width: 100%;
    height: 100vh;
}

/* Top Bar */
.barContainer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5d9c9c;
}

.customizeSize {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sizeText {
    margin: 0;
    font-size: 3vh;
}

.textInput {
    font-size: 3vh;
    margin: 0;
    padding: 0;
}

.textInput::placeholder {
    color: black;
    opacity: 1;
}

.sizeSlider {

}

.selectAlgOpener {
    display: flex;
    margin-top: 3vh;
    font-size: 3vh;
}

.dropdownItem { 
    font-size: 3vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

.barButton{
    font-size: 3vh;
}

.arrContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    width: 100%;
    padding: 0;
    background-color: #41565c;
}

.arrBlock {
    display: flex;
    background-color: #916d84;
    width: 1%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}